<form>
    <fieldset>
        <legend>Add Team</legend>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" data-ng-model="teamForm.name" placeholder="Enter name">
        </div>
        <h5>Players</h5>

        <div class="form-group" data-ng-repeat="player in teamForm.players">
            <div class="input-group">
                <span class="input-group-addon">
                    <span data-ng-class="{'glyphicon': true, 'glyphicon-ok': emailMatched($index), 'glyphicon-remove': !emailMatched($index)}"></span>
                </span>
                <input type="text" class="form-control" data-ng-model="player.email" placeholder="Enter email...">
                <span class="input-group-btn">
                    <button type="button" class="btn" data-ng-click="lastPlayer($index) ? addPlayer() : removePlayer($index)">
                        <span data-ng-class="{'glyphicon': true, 'glyphicon-plus': lastPlayer($index), 'glyphicon-minus': !lastPlayer($index)}"></span>
                    </button>
                </span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" data-ng-click="addTeam()">Submit</button>
    </fieldset>
</form>