<h2>{{game.start_time_date | date:'short' }}</h2>
<p class="btn-group" data-ng-show="attending === null && canRegister() && !headCountReached()">
    <button type="button" class="btn btn-success btn-sm" data-ng-click="setAttending(true)">Attending</button>
    <button type="button" class="btn btn-danger btn-sm" data-ng-click="setAttending(false)">Not Attending</button>
</p>
<p class="text-warning" data-ng-show="attending === null && !canRegister() && !headCountReached()">
    Alternate registration starts: <em>{{deadline | date:'MMMM d, y @ h:mm a' }}</em>
</p>
<p class="text-success" data-ng-show="headCountReached()">
    Required head count reached.
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Players</h3>
    </div>
    <div class="list-group">
        <a class="list-group-item" data-ng-repeat="player in players" href="#/users/{{player.id}}">
            <span data-ng-show="player.id === user.id" class="label label-info">Me</span>
            {{player.email}}
            <span data-ng-show="player.attending === null" class="label label-warning">No Response</span>
            <span data-ng-show="player.attending !== null && player.attending" class="label label-success">Attending</span>
            <span data-ng-show="player.attending !== null && !player.attending" class="label label-danger">Not Attending</span>
        </a>
    </div>
</div>